@model IEnumerable<ProjectManager.ASPMVC.Models.Post.ListItemViewModel>

@{
    ViewData["Title"] = "Posts";
}

<h1>Flux des messages précédents</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                    <a href="mailto:@item.AuthorEmail">
                        @item.AuthorName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendDate)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Project" asp-route-id="@item.ProjectId">@item.ProjectName</a>
            </td>
        </tr>
}
    </tbody>
</table>
