@using ProjectManager.ASPMVC.Handlers
@inject UserSessionManager userSession
@model IEnumerable<ProjectManager.ASPMVC.Models.Project.ListItemViewModel>

@{
    ViewData["Title"] = "Les projets";
}

<h1>Les Projets</h1>

<p>
    @if (userSession.IsProjectManager is not null and true)
    {
        <a asp-action="Create">Créer un nouveau projet</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbMembers)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nbMembers)
                </td>
                <td>
                    @Html.ActionLink("Détails", "Details", new { id = item.ProjectId }) |
                </td>
            </tr>
        }
    </tbody>
</table>
